SOURCE_REPOSITORY_URL=https://github.com/hectorandresladino/PH_TRANSPARENTE_REACT.git
SOURCE_REPOSITORY_REF=main
APPLICATION_HOSTNAME=
CORS_ALLOWED_ORIGINS=https://example.invalid
DATABASE_NAME=phdb
DATABASE_USERNAME=phuser
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_EMAIL=admin@example.com
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=no-reply@example.com
POSTGRESQL_IMAGE=registry.access.redhat.com/rhel9/postgresql-15:latest
POSTGRESQL_STORAGE_SIZE=5Gi
BACKEND_REPLICAS=1
FRONTEND_REPLICAS=1
